body{
  font-family: 'Roboto', sans-serif;
}
hr{
   display: block;
   height: 1px;
   border: 0;
   border-top: 1px solid #ccc;
   margin: 1em 0;
   padding: 0;
   width:15%;
   margin:0 auto;
}

h1{
  font-size:22px;
  font-weight:400;
}

figure{
  text-align:center;
  margin:80px 0px;
}

@media only screen and (max-width: 768px) {

    .mainHeader__rightSection__profilePic{
      display:none;
    }
}

/*header and shit */
.mainHeader{
  background: white;
}

.mainHeader__container{
  max-width:1160px;
  margin:0 auto;
  padding:0px 20px;
}

.mainHeader__rightSection__profilePic{
  float:left;
  margin-top:20px;
}
.mainHeader__rightSection__profilePic img{
  height:50px;
  width:auto;
}
.mainHeader__rightSection__intro{
float:left;
margin-left:20px;
}
.mainHeader__rightSection__intro ul{
  list-style:none;
  margin-left:0px;
  padding-left:0px;
}
.mainHeader__rightSection__intro ul li:first-child{
  color:black;
  font-size:16px;
  line-height: 22px;
  font-weight:normal;
}
.mainHeader__rightSection__intro ul li:nth-child(2){
  color:#212121;
  line-height: 20px;
  font-size:14px;
  font-weight:300;
}
.mainHeader__rightSection__intro ul li:nth-child(3){
  color:#888888;
  font-size:14px;
  font-weight:200;
  font-style: italic;
}
.mainHeader__leftSection{
  float:right;
  margin-top:-60px;
}

/*I gotta keep watchin for hours */
.aboutBtn{
  text-decoration: none;
  text-transform:uppercase;
  color:#6200EA;
  font-size:12px;
  font-weight:500;
  letter-spacing: 0.5px;
  border:2px solid #6200EA;
  padding:7px 10px;

}

.aboutBtn:hover,
.aboutBtn:active
{
  border-color: #7A44FF;
  color:#7A44FF;
}

/*End of header*/

.project-module{
  margin:0px 40px 20px 40px;
  padding:20px 0px;
  background: #FFFFFF;

}
.project-module:hover{
  box-shadow: 0px 0px 30px 0px rgba(237,231,246,0.50);
}

.margin-bottom-null{
  margin-bottom:0px;
}
img{
  margin-bottom:10px;
}
figcaption{
  color:#999;
  display:block;
  font-size:14px;
  font-weight:200;
  max-width:700px;
  margin:0 auto;
}
/*body*/
.mainTitle{
  margin:0px 0px 30px 0px;
}
.centered{
  text-align: center;
}

.project__mainTitle{
  text-align:center;
  margin:70px 0px 30px 0px;
  color:#6200EA;
}
.project__body{
  max-width:700px;
  margin:0 auto;
}


.project__body__title{
  color:#333;
  font-size:22px;
  margin-bottom:10px;

}
.project_body_text{
  color:#666;
  font-weight:200;
  font-size:18px;
  line-height:28px;
  margin-bottom:18px;
}

.smart-quote{
 border-left:10px solid #ddd;
  padding-left:20px;
}

.mainBody{
  background:#FBFBFB;
  padding:20px 20px 0px;
}
.mainBody__content{
  max-width:600px;
  margin:0 auto;
  text-align:center;
  margin:30px auto;

}

.mainBody__projectTitle{
  color:#212121;
  font-size:18px;
  margin-bottom:10px;
}
.mainBody__projectDescription{
  color:#424242;
  font-weight:200;
  font-size:16px;
  line-height:22px;
  margin-bottom:25px;

}

.projectBtn{
  text-decoration:none;
  font-size:16px;
  padding:7px 10px;
  color:#6200EA;
}

.projectBtn:hover{
  color:#7A44FF;
  margin-right:-1px;
}

.mainBody__projectImage{
  margin:30px 0px 0px -5px;
  text-align:center;
}
/*Footer*/
footer{
  text-align: center;
  background:#fafafa;
  padding:30px 0px;
  font-size:14px;
  color:#999;
  font-weight:200;
  border-top:1px solid #f1f1f1;
}

.footer_exception{
  border-top:none;
  padding-bottom:25px;
}

.next-prev-project{
  max-width:720px;
  margin:100px auto;
}
.prev-project{
  float:left;
}

.next-project{
  float:right;
}

.project__indicator{
  color:#999;
  font-weight:200;
  font-size:16px;
}

.null-link{
  cursor:text;
  text-decoration:line-through;
  color:#999;
}

.np__btn{
  text-decoration:none;
  color:#6200EA;
}

.next-project .np__btn{
  text-align:right;
}
.next-project .np__btn:hover{
  padding-left:1px;
}
.prev-project .np__btn:hover{
  margin-left:-1px;
}
/*about me*/

.aboutMe-pic{
  height:300px;
}

.aboutMe-left{
  float:left;
  margin:0px;
}

.aboutMe-right{
  float:left;
  max-width:500px;
  margin-left:100px;
}

.project-aboutme{

}

.aboutMe-description{
  margin-bottom:20px;
}

.aboutMe-description-brief{
  font-weight:300;
  font-size:16px;
  line-height: 22px;
  color:#666;
}

.aboutMe-description-title{
  margin-bottom:10px;
  font-size:16px;
  color:#272727;
}


.aboutMe-links{
  margin-top:30px;
  font-size:1.1rem;
}
.aboutMe-links a{
  color:#6200EA;
  text-decoration:none;
}

.aboutMe-links a:hover{
  text-decoration:underline
}
/*helper class*/
.clearfix{
  clear:both;
}
