
/*
.about_fp {
  background-size: cover;
  background: url("../images/about_img.png");
  background-size: cover;
  background-position: center;
}*/

.about_page{
  margin-top:3rem;
}

.image_wrap img{
  display:none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
.image_wrap{

}

.image_wrap img{
  display:block;
  width:100%;
  object-fit:cover;
}


 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
