
.project__image {
  position: absolute;
  right: 0;
  margin-right: 16%;
  display: none;
}

.project__image img {
  height: 560px;
}

.project_wrap {
  position: relative;
  display: flex;
  align-items: center;
  height: 30rem;
  border-top:1px solid $gray-3;

}

.unbold{
  font-weight:500;
}

.intro_landing {
  padding:5rem 0rem 10rem;
}


@media (min-width: 768px) {

  .intro_landing{
    padding:10rem 0rem 20rem;
  }
  .project__image {
    display: block;
  }
  .project_wrap {
    height:30rem;
    border-top:none;
  }
  .hangeo{
    position:relative;
  }

  .a-p{
    margin-top:15rem;
  }

  .pl-holder{
    position:absolute;
    max-width:705px;
    right:36%;

    img{
    height:397px;
    object-fit:cover;
    }
  }


}


@media (min-width: 1440px){
.pl-holder{
  right:40%;
}

}
