
//site footer

.site-footer{
  text-align: center;
  border-top:1px solid #eee;
  padding:3.5rem 10%;
  margin-top:5rem;
  color:#9E9E9E;

}



.nav_wrapper{
  padding:32px 0px;
}

.main_nav{
  width:85%;
  margin:0 auto;
  clear: both;
}

.main_nav-right_side a{
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
  transition: 0.3s;
}

.main_nav-right_side a:first-child{
  margin-right:2.5rem;
}

.hide-s{
  display:none;
}




// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  //footer
  .site-footer{

    padding:3.5rem 0rem;

  }

  //end of footer


 .nav_wrapper{
   padding:32px 20px;
 }

 .main_nav{
   max-width:1200px;
   width: 100%;
 }

 .hide-s{
   display:inline-block;
 }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
