
.container_modified {
  position: relative;
  width: 85%;
  max-width: 780px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container_1440{
  max-width:1440px;
}

.m-top{
  margin-top:6.5rem;
}

.make-bold{
  font-weight:bold;
}

.project_info{
margin-top:2.5rem;

  ul{
    list-style:none;
    display:flex;
    flex-direction:column;
  }
 ul li:first-child{
   color:#9e9e9e;
   margin-bottom:0px;
 }
}

.prev_n_next{
  display:flex;
  flex-direction: row;

  &_back, &_forward{
    width:50%;
  }

  &_forward{
    text-align:right;
  }
}

.forward_link_project a, .back_link_project a {
  font-weight:bold;
  font-size:1.8rem;
}




/* For devices larger than 550px */

@media (min-width: 768px) {

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .project_info{
    ul{
      flex-direction:row;
    }
    ul li:first-child{
      margin-bottom:1rem;
    }
  }

.prev_n_next{
  margin-bottom:8rem;
}
  .project_info_item{
    margin-bottom:0px;
  }

.project_info_item li:nth-child(2){
  margin-left:2rem;
}

.project_info_item_2 li:nth-child(2){
  margin-left:4.8rem;
}

.forward_link_project a, .back_link_project a {
  font-size:2.4rem;
}

.forward_label, .back_label{
  font-size:1.8rem;
}



}
