$gray-0:  #1D2129;
$gray-1:  #4B4F56;
$gray-2:  #90949C;
$gray-3: #eee;

$dark-gray: #424242; 


// Import partials.
@import
  "theme/normalize",
  "theme/base",
  "theme/layout",
  "theme/landing",
  "theme/portfolio",
  "theme/navigation",
  "theme/about"
;
